{{link-to 'Back to list of orgs' 'orgs'}}

<h4>
  {{model.name}}
  <img src={{model.avatar_url}} alt="" height='250' />
</h4>
<ul>
  {{#each records as |record|}}
  <li>{{record.id}}</li>
  {{/each}}
</ul>
{{outlet}}